<% layout('layout2') %>

<div id="wrapper">
  <div id="page-content-wrapper">
    <% include ../partials/navbar %>
    <div class="container">
      <h4 class="title">Companies</h4>
      <div class="row">
        <% arrayAverage = function(arr) { return _.reduce(arr, (num1, num2) => {
        return num1 + num2; }, 0) / (arr.length === 0 ? 1 : arr.length); } %> <%
        for(var i = 0; i < data.length; i++) {%> <% var total =
        arrayAverage(data[i].ratingNumber) %>

        <div class="col-md-4">
          <a href="/company-profile/<%= data[i]._id %>" class="companyItem">
            <img
              src="/uploads/<%= data[i].image %>"
              class="companyImage"
            />

            <div class="companyInfo">
              <h5 class=""><%= data[i].name %></h5>
              <span class="">
                <i class="star" data-score="<%= total %>"></i>
                (<%= data[i].ratingNumber.length %>) </span
              ><br />
              <i class="fa fa-building-o"> <%= data[i].sector %></i><br />
              <i class="fa fa-map-marker">
                <%= data[i].city %>, <%= data[i].country %></i
              >
            </div>
          </a>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
