<% layout('layout2') %>

<div id="wrapper">
  <div id="page-content-wrapper">
    <% include ../partials/navbar %>
    <div class="container relative companies-page pt-50">
      <h4 class="mainTitle my-0 text-center">Companies</h4>
      <div class="row mb-3 mr-0 justify-content-end">
        <a href="/company/create" class="btn btn-secondary size-14 min-100 text-center">
          <i class="fa fa-plus square mr-1"></i>
          <span>New</span>
        </a>
      </div>
      <div class="row">
        <% arrayAverage = function(arr) { return _.reduce(arr, (num1, num2) => {
        return num1 + num2; }, 0) / (arr.length === 0 ? 1 : arr.length); } %> <%
        for(var i = 0; i < data.length; i++) {%> <% var total =
        arrayAverage(data[i].ratingNumber) %>

        <div class="col-md-4">
          <a href="/company-profile/<%= data[i]._id %>" class="companyItem shadow-light">
            <% if (data[i].image) {%>
              <img
                src="/uploads/<%= data[i].image %>"
                class="companyImage"
                width="100px"
                height="100px"
              />
            <%} else {%>
              <img
                src="/images/default.png"
                width="100px"
                height="100px"
                alt="Logo"
                class="companyImage"
              />
            <%}%>
            <div class="companyInfo">
              <h5 class="text my-1"><%= data[i].name %></h5>

              <% if (data[i].address) {%>
                <i class="fa fa-map-marker square"></i>
                <span class="subText"><%= data[i].address %></span>
                <br />
              <%}%>
              <span class="">
                <i class="star" data-score="<%= total %>"></i>
                (<%= data[i].ratingNumber.length %>) 
              </span>
            </div>
          </a>
        </div>
        <% } %>

      </div>
      <% if (!data.length) { %>
        <div class="text colorGray text-center mt-4">No companies for now. Please add a new company by clicking new button</div>
      <% } %>
    </div>
  </div>
</div>
