<% layout('layout2') %>

<div id="wrapper">
  <div id="page-content-wrapper">
    <% include ../partials/navbar %>
    <div class="container">
      <h4 class="mainTitle mainTitle">Leaderbaord</h4>

      <div class="row">

        <% for(var i = 0; i < data.length; i++) {%> <% var index =
        _.indexOf(data, data[i]) %>

        <div class="col-md-4">
          <a href="/company-profile/<%= data[i]._id %>" class="companyItem">
            <img
              src="/uploads/<%= data[i].image %>"
              class="companyImage"
              height="100"
              width="100"
            />

            <div class="companyInfo">
              <h5 class=""><%= data[i].name %></h5>
              <span class=""> <%= data[i].ratingSum %> Total Stars </span><br />
              <h5>#<%= index + 1 %></h5>
            </div>
          </a>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
