<% layout('layout2') %>

<div id="wrapper">
  <div id="page-content-wrapper">
    <% include ../partials/navbar %>
    <div class="container leaderboard-page pt-50">
      <h4 class="mainTitle text-center pb-50">Leaderboard</h4>

      <div class="row">

        <% for(var i = 0; i < data.length; i++) {%> <% var index =
        _.indexOf(data, data[i]) %>

        <div class="col-md-4">
          <a href="/company-profile/<%= data[i]._id %>" class="companyItem shadow-light">
            <% if (data[i].image) {%>
              <img
                src="/uploads/<%= data[i].image %>"
                class="companyImage"
                width="100px"
                height="100px"
              />
            <%} else {%>
              <img
                src="/images/default.png"
                width="100px"
                height="100px"
                alt="Logo"
                class="companyImage"
              />
            <%}%>

            <div class="companyInfo">
              <h5 class="text my-1"><%= data[i].name %></h5>
              <% if (data[i].address) {%>
                <i class="fa fa-map-marker square"></i>
                <span class="subText"><%= data[i].address %></span>
                <br />
              <%}%>
              <span class="subText"> <%= data[i].ratingSum %> Total Stars </span><br />
              <h5 class="subText colorMain">#<%= index + 1 %></h5>
            </div>
          </a>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
